# ----------------------
# Flask
# ----------------------
flask
pymongo
mongoengine
pillow

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine