# ----------------------
# Flask
# ----------------------
flask
pymongo
Pillow

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine