<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Flask</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <h1 style="margin-top:150px">Upload File</h1>
    <h2>Using Flask & MLab</h2>
    
    <form method="post" enctype="multipart/form-data">
        <div class="input-file-container">  
        <input class="input-file" id="my-file" type="file" name="image">
        <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
        </div>
        <p class="file-return"></p>
        <input type="submit" class="file-upload-btn">
    </form>
    
    <p class="txtcenter">It's just a test, not really usable.<br />Works on IE &gt; 8 and modern browsers</p>
    <p class="txtcenter copy">Made by <a href="https://github.com/quyctd">@quyctd</a></p>

    <!-- Script here -->
    <script src="static/js/script.js"> </script>
</body>
</html>